PORT=8082
GIN_MODE=release

DATABASE_URL=host=127.0.0.1 user=postgres password=CHANGE_ME dbname=ledvision port=5432 sslmode=disable TimeZone=Asia/Almaty

ADMIN_USERNAME=admin
ADMIN_PASSWORD=CHANGE_ME

TELEGRAM_BOT_TOKEN=CHANGE_ME
TELEGRAM_CHAT_ID=CHANGE_ME
